.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #382823;

  h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
  }

  .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .footer-dark {
    h3 {
      font-size: 13px;
    }

    .copyright {
      font-size: 10px;
    }
  }
}